# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = ryicoh
	email = ryicoh@gmail.com
[pull]
	ff = only
[core]
	ignorecase = false
  editor = nvim
[init]
	defaultBranch = main
[merge]
	tool = vimdiff
[diff]
	tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
  st = status
  sw = switch
  l = log
  d = diff
  dc = diff --cached
  r = restore
[http]
	cookiefile = /Users/ryicoh/.gitcookies
